header{
    background-image: url(../images/banner-bg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.banner{
    margin: 15rem;
}
button{
    border-radius: 6.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
rounded-md {
    border-radius: .625rem;
}
.btn{
    border-radius: 6.25rem;
}